<div class="container pt-5">
    <div class="row justify-content-center">
        <img class="text-center" src={{imageUrl}} alt="Avatar" width="12%">
    </div>
    <form method="POST">
        <div class="form-group row justify-content-center pt-5">
            <label for="username" class="col-2 col-form-label">Username</label>
            <div class="col-4">
                <input type="text" class="form-control" id="inputUsername" placeholder={{username}}>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="language" class="col-2 col-form-label">Language</label>
            <div class="col-4">
                <input type="text" class="form-control" id="inputLanguage" placeholder={{language}}>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="difficulty" class="col-2 col-form-label">Difficulty</label>
            <div class="col-4">
                <input type="text" class="form-control" id="inputDifficulty" placeholder={{difficulty}}>
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <label for="topic" class="col-2 col-form-label">Topic</label>
            <div class="col-4">
                <input type="text" class="form-control" id="inputTopic" placeholder={{topic}}>
            </div>
        </div>
        <div class="pt-3 text-center"> 
            <button type="submit" class="btn btn-primary justify-content-center">Save Changes</button>
        </div>
    </form>
</div>